<h2>Sign in</h2><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password,  class: "form-control", required: true %>
  </div>

  <div class="check_box">
    <label>
      <%= f.check_box :remember_me, required: false, as: :boolean if devise_mapping.rememberable? %> Remember me
    </label>
  </div> <br>

  <div class="form-group">
    <%= f.submit "Sign in", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
